@use "../abtracts";
html.dark {
    --body-bg: #292e39;
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(176deg) brightness(104%)
        contrast(101%);

    --header-bg-color: #171c28;

    @include abtracts.screen(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.2);
    }

    --action-top-group-bg: #292e39;
    --action-top-group-shadow: rgba(0, 0, 0, 0.2);
    --action-top-saparate-bg: #545458;
    --action-top-user-shadow: rgba(0, 0, 0, 0.08);

    --act-dropdown-bg-color: #2f3441;
    --act-dropdown-box-shadow-color: rgba(23, 28, 40, 0.4);
    --act-dropdown-view-all-color: #0071dc;
    --act-dropdown-separate-bg-color: #171c28;
    --act-dropdown-text-color: #b9babe;

    --footer-bg-color: var(--header-bg-color);
    --footer-bg-color: var(--header-bg-color);

    --drop-down-bg-color: #2f3441;
    --drop-down-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(17%) sepia(20%) saturate(616%) hue-rotate(185deg)
        brightness(95%) contrast(89%);
    --top-menu-border-color: #171c28;
    --column-heading-color: #fff;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(88%) sepia(9%) saturate(1168%) hue-rotate(199deg)
        brightness(114%) contrast(96%);
    //___________________________slide-bar___________________________
    --slide-bar-bg-color: #292e39;
    --slide-bar-shadow-color: rgba(23, 28, 40, 0.4);
    //___________________________categories-item___________________________
    --categories-item-bg-color: #171c28;
    --categories-item-thumbnail-bg-color: #292e39;
    --categories-item-title-color: #fff;
    @include abtracts.screen(lg) {
        --categories-item-bg-color: #171c28;
    }

    //buttons

    --filter-btn-color: #fff;
    --filter-btn-bg-color: #171c28;

    //card-products
    --card-products-background: #171c28;
    --card-products--shadow-color: rgba(0, 0, 0, 0.2);

    //filter
    --filter-form-bg: #2f3441;
    --filter-form-shadow-color: rgba(0, 0, 0, 0.4);
    --filter-arrow-color: var(--dropdown-arrow-color);
    --tag-bg-color: #171c28;
    --row-bottom-bg: var(--filter-form-bg);

    //auth
    --auth-intro-bg-color: #171c28;
    --auth-color-content: #b9babe;
    --auth-content-bg-color: #292e39;
    --auth-content-color: #b9babe;
    --form-placeholder-color: #b9babe;
    --form-border-color: #b9babe;
    --form-select-dialog-background-color: #2f3441;
    --form-select-dialog-boxshadow-color: rgba($color: #fff, $alpha: 0.2);
    --form-select-dialog-hover-background-color: #292e39;
    @include abtracts.screen(md) {
        --auth-intro-bg-color: #171c28;
    }

    //products-details
    --product-detail-bg-color: #292e39;

    //.search-bar
    --search-bar-background: #171c28;

    //breadcumbs
    --breadcumbs-bg-color: #171c28;
    --breadcumbs-box-shadow-color: rgba(23, 28, 40, 0.2);

    //prod-info
    --prod-info-container-background: #292e39;
    --prod-info-background: #171c28;
    --prod-prop-text-color: #eee;
    --prod-info-price-color: #eee;

    @include abtracts.screen(lg) {
        --prod-info-background: #171c28;
    }

    //prod-tabs
    --prod-tab-active-color: #fff;
    --prod-tab-heading-color: #fff;

    //preview-card-background
    --preview-card-bg-color: #171c28;

    //text-content
    --text-content-hr-bg-color: #ccc;

    //checkout-breadcumbs
    --background-breadcumbs-page-color: #171c28;

    //checkout-cart-info
    --cart-info-background-color: #171c28;
    --cart-info-boxshadow-color: rgba(23, 28, 40, 0.2);
    --cart-info-price-color: #b9babe;
    --cart-info-continue-color: #b9babe;
    --cart-info-sub-total: #b9babe;

    //checkout-cart-item
    --cart-item-color: #b9babe;
    --cart-item-input-color: #292e39;
    --cart-item-separate-color: #292e39;

    //checkout-gift-item
    --gift-color: #b9babe;
    --gift-item-background-color: #292e39;
    --gift-item-boxshadow-color: initial;

    //modal
    --modal-background-color: #2f3441;
    --modal-boxshadow-color: rgba(23, 28, 40, 0.4);

    //shipping
    --shipping-text-color: #b9babe;

    //payment-item
    --payment-item-background-color: #292e39;
    --payment-item-boxshadow-color: rgba(23, 28, 40, 0.2);
    --payment-item-img-boxshadow-color: rgba(23, 28, 40, 0.2~);
    --payment-item-color: #b9babe;

    //profile-sidebar
    --profile-sidebar-background-color: #171c28;
    --profile-sidebar-boxshadow-color: rgba(23, 28, 40, 0.2);
    --profile-sidebar-color: #B9BABE;
    --profile-sidebar-link-hover:#2f3441;

    //account
    --account-info-background-color: #292E39;
    --account-info-background-color-icon: #171c28;
}
