@use "../abtracts";
html {
    --body-bg: #f6f6f6;
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(6%) sepia(49%) saturate(1831%) hue-rotate(226deg) brightness(96%)
        contrast(93%);

    --header-bg-color: #eee;

    --action-top-group-bg: #fff;
    --action-top-group-shadow: rgba(237, 237, 246, 0.2);
    --action-top-saparate-bg: #ededf6;
    --action-top-user-shadow: rgba(0, 0, 0, 0.08);

    --act-dropdown-bg-color: #fff;
    --act-dropdown-box-shadow-color: rgba(200, 200, 200, 0.4);
    --act-dropdown-view-all-color: #0071dc;
    --act-dropdown-separate-bg-color: #d2d1d6;
    --act-dropdown-text-color: #1a162e;

    --footer-bg-color: var(--header-bg-color);
    --footer-text-color: #6e6d74;

    @include abtracts.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }

    //___________________________drop-down___________________________
    --drop-down-bg-color: #fff;
    --drop-down-shadow-color: rgba(200, 200, 200, 0.4);
    --top-menu-border-color: #d2d1d6;
    --column-heading-color: #1a162e;
    //___________________________slide-bar___________________________
    --slide-bar-bg-color: #fff;
    --slide-bar-shadow-color: rgba(200, 200, 200, 0.4);
    //___________________________categories-item___________________________
    --categories-item-bg-color: #eee;
    --categories-item-thumbnail-bg-color: #fff;
    --categories-item-title-color: #000;

    @include abtracts.screen(lg) {
        --categories-item-bg-color: #fff;
    }

    //buttons

    --filter-color: #6c6c72;
    --filter-btn-bg-color: #fff;

    //card-products
    --card-products-background: #fff;
    --card-products--shadow-color: rgba(237, 237, 246, 0.2);

    //filter
    --filter-form-bg: #fff;
    --filter-form-shadow-color: rgba(200, 200, 200, 0.4);
    --row-bottom-bg: #fff;
    --tag-bg-color: #f8f8fb;
    --text-color-submit: #1a162e;

    //auth
    --auth-intro-bg-color: #fafafd;
    --auth-content-bg-color: #fff;
    --auth-content-color: #9e9da8;
    --form-placeholder-color: #d2d1d6;
    --form-border-color: #d2d1d6;
    --form-select-dialog-background-color: #fff;
    --form-select-dialog-boxshadow-color: rgba($color: #000000, $alpha: 0.2);
    --form-select-dialog-hover-background-color: #ebebeb;
    @include abtracts.screen(md) {
        --auth-intro-bg-color: #fff;
    }

    //products-details
    --product-detail-bg-color: #fff;

    @include abtracts.screen(md) {
        --product-detail-bg-color: #fafafd;
    }

    //.search-bar
    --search-bar-background: #fff;

    //breadcumbs
    --breadcumbs-bg-color: #f6f6f6;
    --breadcumbs-box-shadow-color: rgba(237, 237, 246, 0.2);

    @include abtracts.screen(md) {
        --breadcumbs-bg-color: #fff;
    }

    //prod-info-
    --prod-info-container-background: #fff;
    --prod-info-background: #f6f6f6;
    --prod-prop-text-color: #1a162e;
    --prod-info-price-color: #000;

    @include abtracts.screen(md) {
        --prod-info-background: #fff;
    }

    //prod-tabs
    --prod-tab-active-color: #1a162e;
    --prod-tab-heading-color: #1a162e;

    //preview-card-background
    --preview-card-bg-color: #fafafd;

    @include abtracts.screen(md) {
        --preview-card-bg-color: #fff;
    }

    //text-content
    --text-content-hr-bg-color: #ebebeb;

    //checkout-breadcumbs
    --background-breadcumbs-page-color: #fff;

    //checkout-cart-info
    --cart-info-background-color: #fff;
    --cart-info-boxshadow-color: rgba(237, 237, 246, 0.2);
    --cart-info-price-color: #1a162e;
    --cart-info-continue-color: #1a162e;
    --cart-info-sub-total: #1a162e;

    //checkout-cart-item
    --cart-item-color: #1a162e;
    --cart-item-input-color: #d2d1d6;
    --cart-item-separate-color: #d2d1d6;

    //checkout-gift-item
    --gift-color: #1a162e;
    --gift-item-background-color: rgb(118, 68, 225, 0.1);
    --gift-item-boxshadow-color: rgba(237, 237, 246, 0.2);

    //modal
    --modal-background-color: #fff;
    --modal-boxshadow-color: rgba(237, 237, 246, 0.2);

    //shipping
    --shipping-text-color: #1a162e;

    //payment-item
    --payment-item-background-color: #f6f6f6;
    --payment-item-boxshadow-color: rgba(237, 237, 246, 0.2);
    --payment-item-img-boxshadow-color: rgba(237, 237, 246, 0.2);
    --payment-item-color: #1a162e;

    //profile-sidebar
    --profile-sidebar-background-color: #fff;
    --profile-sidebar-boxshadow-color: rgba(237, 237, 246, 0.2);
    --profile-sidebar-color: #1A162E;
    --profile-sidebar-link-hover:#ebebeb;

    //account
    --account-info-background-color: #f6f6f6;
    --account-info-background-color-icon: #fff;
}
